/venv
*.pyc
__pycache__/
.DS_Store
.idea/
.vscode/
*.log
.env
*.env
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.zip
*.tar.gz
*.egg-info/
dist/
build/
*.egg
*.egg-info
*.pyo
*.pyd
*.coverage
.coverage.*
htmlcov/
.tox/
.nox/ 
backend/.env/
frontend/node_modules/
frontend/.env/   
   